@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Press+Start+2P&family=Roboto:wght@300;400;500&display=swap');
@import '/src/styles/variables.scss';


/* 
font-family: 'Lato', sans-serif;
font-family: 'Press Start 2P', cursive;
font-family: 'Roboto', sans-serif;
 */

.big-container {
    height: 100vh;
    width: 100%;
}