@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Press+Start+2P&family=Roboto:wght@300;400;500&display=swap');
@import '/src/styles/variables.scss';


/* 
font-family: 'Lato', sans-serif;
font-family: 'Press Start 2P', cursive;
font-family: 'Roboto', sans-serif;
 */

.big-container {
    height: 100vh;
    width: 100%;
}

.cv-container {
    padding: 10px 5px 0;
    
    .border {
        border: 2px $border_grey solid;
        border-radius: 8px;
        background-color: white;
        padding: 20px;
        

        h4 {
            font-size: 18px;
        } 

        .cv-box {
            display: flex;
            color: rgba($color: #000000, $alpha: 0.9);
            border-bottom: $border_grey 0.5px solid;
            padding: 15px 0;

            &:last-child {
                border-bottom: none;
            }
            
            img {
                width: 48px;
                height: 48px;
                object-fit: cover;
            }
            .description {
                font-size: 14px;
                margin-left: 10px;
                h4 {
                    font-size: 16px;
                }

                .subtext {
                    color: rgba($color: #000000, $alpha: 0.6);
                    padding: 1px 0;
                }
            }
        }
    }



}